@CHARSET "UTF-8";

body{
	text-align:center;
	background:radial-gradient(#221C5E, #16123D 80%);
	height: 95%;
	width: 99%;
}


header img{
	height: 100%;
	width: 100%;
	z-index: 1;	
}

#botones {
	position:absolute;
	margin-left:30%;
	margin-top:3%;
	
}

#botones a{
	
	font-size: 3em;
	margin: 10px;
	padding:3px;
	background-color: red;
}

#login{
	position:absolute;
	margin-left:70%;
	background-color: white;	
}

header{
	position:absolute;
	margin-top: 3%;
	margin-left: 20%;
	width: 200px;
	height: 70px;
}

footer{
	color:white;
    position: absolute;
    overflow: hidden;
    left: 30%;
    top: 90%;
    text-align: center;
}

#redes{
	color: white;
	position:absolute;
	margin-top:5%;
	height: 60%;
	width: 15%;
}

.fb-comments{
	width: 100%;
}
#redes2{
	color: white;
	position:absolute;
	margin-top:5%;
	height: 60%;
	width: 15%;
	margin-left: 83%;
}
#contenido{
	overflow:auto;
	color:white;
	position:absolute;
	margin-top:8%;
	margin-left: 20%;
	height: 70%;
	width: 60%;	
}

#fLog{
	color: white;
}
#error{
	background-color: white;
}
#bzonausu{
	padding: 3px;
	margin: 5px;
	background-color: white;
}
#tpefil{
	color: white;
}
#tperfil img{
	height: 100px;
	width: 100px;
}

.paquete img{
	height: 250px;
	width: 150px;
}

.paquete{
	 border: 5px solid red;
	 padding: 10px;
	margin:15px;
	display:inline-block;
}

.mPaquete{
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: white;
}

.descripcion{
	overflow:auto;
	color:black;
	text-align: center;
}

.mPaquete img{
	float:left;
}

.mPaquete button{
	top:80%;
}
.descripcion2{
	margin:10px;
	background-color:red;
	font-size:5em;
	position: absolute;
	top:50px;
	overflow:visible;
	color:black;
	text-align: center;
}

.descripcion2 img{
	float:none;
	height: 150px;
	width: 150px;
	margin: 5px;
}
#puestas{
	float: left;
	border: 2px solid black;
	min-width: 100px; 
	max-width:250px;
	height: 100%;
}
#puestas div{
	display: inline-block;
}
#coleccion img{
	width: 200px;
	height: 200px;
}
#coleccion div{
	display: inline-block;
}
#puestas img{
	width: 100px;
	height: 100px;
}
#facebook{
	overflow: hidden;
	width: 100%;
}