@CHARSET "UTF-8";

/*ANIMACIONES*/



#botones a:hover{
	color:red;
	box-shadow: 0px 10px 50px red;
}


body{
	text-align:center;
	background:radial-gradient(#221C5E, #16123D 80%);
	height: 95%;
	width: 99%;
}

header img{
	height: 100%;
	width: 100%;
	border-radius: 100%;
	z-index: 1;	
}

#coleccion img:hover{
	transform: scale(1.2,1.2);
}

.descripcion2 img:hover{
	overflow:visible;
	transform: scale(3,3);
}

@media all and (max-width:1650px) and (min-width:1200px){
	#login{
		color: white;
		font-size:1.5em;
		position:absolute;
		margin-left:70%;
		box-shadow: 0px 10px 50px white;
		border-radius: 100%;	
	}
	
	#login a:hover{
			color:red;
			box-shadow: 0px 10px 30px red;
	}
	
	#botones{
	position:absolute;
		margin-left:25%;
		margin-top:3%;
		color: white;
	}

	#botones a{
		font-size: 3em;
		margin: 10px;
		padding:3px;
		box-shadow: 0px 10px 50px white;
		border-radius: 100%;
	}
	
	header{
		position:absolute;
		margin-top: 3%;
		margin-left: 8%;
		width: 200px;
		height: 70px;
	}
	
	#bzonausu{
		display:inline;
		padding: 3px;
		padding-top:10px;
		color: white;
		width: auto;
	}
	
	#bzonausu span, #bzonausu a{
		padding:5px;
		border-style: ridge;
		border-color: white;
		border-width:5px;
		margin:10px;
	}
	
	#bzonausu a:hover{
		border-color: red;
		color: red;
	}
	
	#redes{
		display: none;
	}
	
	#redes2{
		display: none;
	}
	
	#contenido{
		overflow:auto;
		color:white;
		position:absolute;
		margin-top:15%;
		margin-left: 10%;
		height: 60%;
		width: 80%;	
	}
	
	footer{
		color:white;
    	position: absolute;
    	overflow: hidden;
    	left: 30%;
    	top: 90%;
    	text-align: center;
	}
	
	.paquete img{
		height: 250px;
		width: 150px;
	}
	
	.paquete{
		 border: 5px solid red;
		 padding: 10px;
		margin:15px;
		display:inline-block;
	}
	
	.mPaquete{
		position: absolute;
		top: 20px;
		right: 20px;
		background-color: white;
	}
	
	.descripcion{
		overflow:auto;
		color:black;
		text-align: center;
	}
	
	.mPaquete img{
		float:left;
	}
	
	.mPaquete button{
		top:80%;
	}
	.descripcion2{
		margin:10px;
		font-size:5em;
		position: absolute;
		top:50px;
		height:100%;
		width: 100%;
		overflow:visible;
		color:black;
		text-align: center;
		background-color: white;
	}
	
	.descripcion2 img{
		float:none;
		height: 100px;
		width: 100px;
		margin: 5px;
	}
	#puestas{
		float: left;
		border: 2px solid black;
		min-width: 100px; 
		max-width:100px;
		height: 100%;
	}
	#puestas div{
		display: inline-block;
	}
	#coleccion img{
		width: 150px;
		height: 150px;
	}
	#coleccion div{
		display: inline-block;
	}
	#puestas img{
		width: 50px;
		height: 50px;
	}

	}
/*PANTALLA GRANDE*/
@media all and (min-width:1650px){ 
	
	#login{
		color: white;
		font-size:1.5em;
		position:absolute;
		margin-left:70%;
		box-shadow: 0px 10px 50px white;
		border-radius: 100%;	
	}
	
	#login a:hover{
			color:red;
			box-shadow: 0px 10px 30px red;
	}
	
	#botones{
		position:absolute;
		margin-left:30%;
		margin-top:3%;
		color: white;
	}

	#botones a{
		font-size: 3em;
		margin: 10px;
		padding:3px;
		box-shadow: 0px 10px 50px white;
		border-radius: 100%;
	}
	
	header{
		position:absolute;
		margin-top: 2%;
		margin-left: 10%;
		width: 300px;
		height: 100px;
	}
	
	#contenido{
		overflow:auto;
		color:white;
		position:absolute;
		margin-top:10%;
		margin-left: 20%;
		height: 70%;
		width: 60%;	
	}
	
	#facebook{
		display:none;
		position: absolute;
		top:75%;
		width: 10%;
		margin-left: 20%;
	}
	
	#bzonausu{
		padding: 3px;
		padding-top:10px;
		color: white;
		width: auto;
	}
	
	#bzonausu span, #bzonausu a{
		padding:5px;
		border-style: ridge;
		border-color: white;
		border-width:5px;
		margin:10px;
	}
	
	#bzonausu a:hover{
		border-color: red;
		color: red;
	}
	
	#redes{
		color: white;
		position:absolute;
		margin-top:10%;
		height: 60%;
		width: 15%;
	}
	
	#redes2{
		color: white;
		position:absolute;
		margin-top:5%;
		height: 60%;
		width: 15%;
		margin-left: 84%;
	}
	
	#redes2 *{
		padding: 10px;
	}
	
	footer{
		color:white;
    	position: absolute;
    	overflow: hidden;
    	left: 30%;
    	top: 95%;
    	text-align: center;
	}
	
	.paquete img{
		height: 250px;
		width: 150px;
	}
	
	.paquete{
		 border: 5px solid red;
		 padding: 10px;
		margin:15px;
		display:inline-block;
	}
	
	.mPaquete{
		position: absolute;
		top: 20px;
		right: 20px;
		background-color: white;
	}
	
	.descripcion{
		overflow:auto;
		color:black;
		text-align: center;
	}
	
	.mPaquete img{
		float:left;
	}
	
	.mPaquete button{
		top:80%;
	}
	.descripcion2{
		margin:10px;
		font-size:5em;
		position: absolute;
		top:50px;
		height:100%;
		width: 100%;
		overflow:visible;
		color:black;
		text-align: center;
	}
	
	.descripcion2 img{
		float:none;
		height: 100px;
		width: 100px;
		margin: 5px;
	}
	
	#puestas{
		float: left;
		border: 2px solid black;
		min-width: 100px; 
		max-width:250px;
		height: 100%;
	}
	#puestas div{
		display: inline-block;
	}
	#coleccion img{
		width: 200px;
		height: 200px;
	}
	#coleccion div{
		display: inline-block;
	}
	#puestas img{
		width: 100px;
		height: 100px;
	}
	
}